---
import Layout from "../layouts/Layout.astro";
import ColumbiaCrown from "../assets/columbia-crown.svg";
---

<Layout title="Giving to Columbia Popup">
    <main>
        <div class="popup-container">
            <div class="popup">
                <div class="popup-image">
                    <img src={ColumbiaCrown.src} />
                </div>
                <div class="popup-content">
                    <!-- <span>Tuesday, October 1, 2024</span> -->
                    <h2>
                        Make an impact and meet the calendar year-end giving
                        deadline
                    </h2>
                    <p>
                        Before the calendar year comes to a close on Tuesday,
                        December 31, 2024, at 11:59 p.m. EST, <strong
                            >take action today and support an area of Columbia
                            that is meaningful to you.</strong
                        > By meeting this important deadline, you'll provide resources
                        for students, faculty, and researchers in the upcoming semester.
                    </p>
                    <a
                        href="https://www.givenow.columbia.edu/?ac=UNZD&utm_source=GivingSite&utm_medium=website&utm_campaign=CYE2024popup"
                        class="btn btn-primary"
                        target="_blank">Give Now</a
                    >
                </div>
                <div id="close" class="close">x</div>
            </div>
        </div>
    </main>
</Layout>

<style>
    * {
        margin: 0 !important;
    }
    html {
        background: transparent !important;
    }
    .popup-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 9999;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .popup {
        position: relative;
        width: 100%;
        max-width: 745px;
        background-color: #fff;
        padding: 107px 56px 56px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    .popup-image {
        max-width: 174px;
        position: absolute;
        top: 0;
        transform: translateY(-50%);
        background: white;
        border-radius: 50%;
        padding: 25px;
    }
    .popup-image img {
        width: 100%;
    }
    .popup-content {
        display: contents;
    }
    .popup-content span {
        /* font-family: gotham; */
        color: #055ea9;
        font-weight: 500;
        font-size: 24px;
        line-height: 1.33;
        padding-bottom: 14px;
    }
    .popup-content h2 {
        font-size: 36px;
        line-height: 1.125;
        font-weight: 700;
        color: #003373;
        letter-spacing: -0.75px;
        padding: 0 90px 24px;
    }
    .popup-content p {
        font-size: 18px;
        font-weight: 300;
        line-height: 1.421;
        color: #000;
        padding-bottom: 32px;
    }
    .popup-content a {
        padding: 13px 29px;
        background-color: #fed302;
        color: #003373;
        font-size: 16px;
        text-decoration: none;
        font-weight: 700;
    }
    #close {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 20px;
        color: #fff;
        background: #2372b4;
        padding: 4.5px 11px;
        border-radius: 50%;
        cursor: pointer;
        transform: translate(50%, -50%);
    }
    @media (max-width: 767px) {
        .popup {
            max-width: calc(90vw - 48px);
            padding: 107px 24px 56px;
        }
        .popup-content span {
            font-size: 18px;
        }
        .popup-content h2 {
            font-size: 28px;
            padding: 0 0 14px;
        }
        .popup-content p {
            font-size: 16px;
        }
    }
</style>

<script>
    const close = document.getElementById("close") as HTMLElement;
    const popupContainer = document.querySelector(
        ".popup-container"
    ) as HTMLElement;
    let date: Date = new Date();

    close.addEventListener("click", () => {
        popupContainer.style.display = "none";
        window.parent.postMessage("popup closed", "*");
        document.cookie =
            "givingpopup=closed; expires=" + date.setDate(date.getDate() + 1);
    });
</script>
